SI2/p1-a/ej7/WSDL.xml

<!--This XML file does not appear to have any style information associated with it. The document tree is shown below. -->
<!--
 Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. 
-->
<!--
 Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. 
-->
<definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://dao.visa.ssii2/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://dao.visa.ssii2/" name="VisaDAO">
<types>
<xsd:schema>
<xsd:import namespace="http://dao.visa.ssii2/" schemaLocation="http://10.5.7.1:8080/P1-ws-ws/VisaDAO?xsd=1"/>
</xsd:schema>
</types>
<message name="getDebug">
<part name="parameters" element="tns:getDebug"/>
</message>
<message name="getDebugResponse">
<part name="parameters" element="tns:getDebugResponse"/>
</message>
<message name="setDebug">
<part name="parameters" element="tns:setDebug"/>
</message>
<message name="setDebugResponse">
<part name="parameters" element="tns:setDebugResponse"/>
</message>
<message name="compruebaTarjeta">
<part name="parameters" element="tns:compruebaTarjeta"/>
</message>
<message name="compruebaTarjetaResponse">
<part name="parameters" element="tns:compruebaTarjetaResponse"/>
</message>
<message name="realizaPago">
<part name="parameters" element="tns:realizaPago"/>
</message>
<message name="realizaPagoResponse">
<part name="parameters" element="tns:realizaPagoResponse"/>
</message>
<message name="getPagos">
<part name="parameters" element="tns:getPagos"/>
</message>
<message name="getPagosResponse">
<part name="parameters" element="tns:getPagosResponse"/>
</message>
<message name="delPagos">
<part name="parameters" element="tns:delPagos"/>
</message>
<message name="delPagosResponse">
<part name="parameters" element="tns:delPagosResponse"/>
</message>
<message name="isPrepared">
<part name="parameters" element="tns:isPrepared"/>
</message>
<message name="isPreparedResponse">
<part name="parameters" element="tns:isPreparedResponse"/>
</message>
<message name="setPrepared">
<part name="parameters" element="tns:setPrepared"/>
</message>
<message name="setPreparedResponse">
<part name="parameters" element="tns:setPreparedResponse"/>
</message>
<message name="setDebugString">
<part name="parameters" element="tns:setDebugString"/>
</message>
<message name="setDebugStringResponse">
<part name="parameters" element="tns:setDebugStringResponse"/>
</message>
<message name="isDirectConnection">
<part name="parameters" element="tns:isDirectConnection"/>
</message>
<message name="isDirectConnectionResponse">
<part name="parameters" element="tns:isDirectConnectionResponse"/>
</message>
<message name="setDirectConnection">
<part name="parameters" element="tns:setDirectConnection"/>
</message>
<message name="setDirectConnectionResponse">
<part name="parameters" element="tns:setDirectConnectionResponse"/>
</message>
<message name="errorLog">
<part name="parameters" element="tns:errorLog"/>
</message>
<message name="errorLogResponse">
<part name="parameters" element="tns:errorLogResponse"/>
</message>
<portType name="VisaDAOWS">
<operation name="getDebug">
<input wsam:Action="http://dao.visa.ssii2/VisaDAOWS/getDebugRequest" message="tns:getDebug"/>
<output wsam:Action="http://dao.visa.ssii2/VisaDAOWS/getDebugResponse" message="tns:getDebugResponse"/>
</operation>
<operation name="setDebug">
<input wsam:Action="http://dao.visa.ssii2/VisaDAOWS/setDebugRequest" message="tns:setDebug"/>
<output wsam:Action="http://dao.visa.ssii2/VisaDAOWS/setDebugResponse" message="tns:setDebugResponse"/>
</operation>
<operation name="compruebaTarjeta">
<input wsam:Action="http://dao.visa.ssii2/VisaDAOWS/compruebaTarjetaRequest" message="tns:compruebaTarjeta"/>
<output wsam:Action="http://dao.visa.ssii2/VisaDAOWS/compruebaTarjetaResponse" message="tns:compruebaTarjetaResponse"/>
</operation>
<operation name="realizaPago">
<input wsam:Action="http://dao.visa.ssii2/VisaDAOWS/realizaPagoRequest" message="tns:realizaPago"/>
<output wsam:Action="http://dao.visa.ssii2/VisaDAOWS/realizaPagoResponse" message="tns:realizaPagoResponse"/>
</operation>
<operation name="getPagos">
<input wsam:Action="http://dao.visa.ssii2/VisaDAOWS/getPagosRequest" message="tns:getPagos"/>
<output wsam:Action="http://dao.visa.ssii2/VisaDAOWS/getPagosResponse" message="tns:getPagosResponse"/>
</operation>
<operation name="delPagos">
<input wsam:Action="http://dao.visa.ssii2/VisaDAOWS/delPagosRequest" message="tns:delPagos"/>
<output wsam:Action="http://dao.visa.ssii2/VisaDAOWS/delPagosResponse" message="tns:delPagosResponse"/>
</operation>
<operation name="isPrepared">
<input wsam:Action="http://dao.visa.ssii2/VisaDAOWS/isPreparedRequest" message="tns:isPrepared"/>
<output wsam:Action="http://dao.visa.ssii2/VisaDAOWS/isPreparedResponse" message="tns:isPreparedResponse"/>
</operation>
<operation name="setPrepared">
<input wsam:Action="http://dao.visa.ssii2/VisaDAOWS/setPreparedRequest" message="tns:setPrepared"/>
<output wsam:Action="http://dao.visa.ssii2/VisaDAOWS/setPreparedResponse" message="tns:setPreparedResponse"/>
</operation>
<operation name="setDebugString">
<input wsam:Action="http://dao.visa.ssii2/VisaDAOWS/setDebugStringRequest" message="tns:setDebugString"/>
<output wsam:Action="http://dao.visa.ssii2/VisaDAOWS/setDebugStringResponse" message="tns:setDebugStringResponse"/>
</operation>
<operation name="isDirectConnection">
<input wsam:Action="http://dao.visa.ssii2/VisaDAOWS/isDirectConnectionRequest" message="tns:isDirectConnection"/>
<output wsam:Action="http://dao.visa.ssii2/VisaDAOWS/isDirectConnectionResponse" message="tns:isDirectConnectionResponse"/>
</operation>
<operation name="setDirectConnection">
<input wsam:Action="http://dao.visa.ssii2/VisaDAOWS/setDirectConnectionRequest" message="tns:setDirectConnection"/>
<output wsam:Action="http://dao.visa.ssii2/VisaDAOWS/setDirectConnectionResponse" message="tns:setDirectConnectionResponse"/>
</operation>
<operation name="errorLog">
<input wsam:Action="http://dao.visa.ssii2/VisaDAOWS/errorLogRequest" message="tns:errorLog"/>
<output wsam:Action="http://dao.visa.ssii2/VisaDAOWS/errorLogResponse" message="tns:errorLogResponse"/>
</operation>
</portType>
<binding name="VisaDAOWSPortBinding" type="tns:VisaDAOWS">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="getDebug">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="setDebug">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="compruebaTarjeta">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="realizaPago">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getPagos">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="delPagos">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="isPrepared">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="setPrepared">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="setDebugString">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="isDirectConnection">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="setDirectConnection">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="errorLog">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="VisaDAO">
<port name="VisaDAOWSPort" binding="tns:VisaDAOWSPortBinding">
<soap:address location="http://10.5.7.1:8080/P1-ws-ws/VisaDAO"/>
</port>
</service>
</definitions>
